<div class="bloodrequest">
    <h1>Request Blood</h1>
    <form>
        <label>Name:</label><br/>
        <input type="text" class="form-control" name="username" value="bloodrequest.name" [(ngModel)]="bloodrequest.name"/><br/>
        <label>Age:</label><br/>
        <input type="text" class="form-control" name="age" value="bloodrequest.age" [(ngModel)]="bloodrequest.age"/><br/>
        <label>Blood Group:</label><br/>
        <input type="radio" class="form-check-input" name="bloodgroup" value="A+" [(ngModel)]="bloodrequest.bloodgroup" (change)="radioChangeHandler($event)">A+ <br/>
        <input type="radio" class="form-check-input" name="bloodgroup" value="A-" [(ngModel)]="bloodrequest.bloodgroup" (change)="radioChangeHandler($event)">A- <br/>
        <input type="radio" class="form-check-input" name="bloodgroup" value="B+" [(ngModel)]="bloodrequest.bloodgroup" (change)="radioChangeHandler($event)">B+ <br/>
        <input type="radio" class="form-check-input" name="bloodgroup" value="B-" [(ngModel)]="bloodrequest.bloodgroup" (change)="radioChangeHandler($event)">B- <br/>
        <input type="radio" class="form-check-input" name="bloodgroup" value="O+" [(ngModel)]="bloodrequest.bloodgroup" (change)="radioChangeHandler($event)">O+ <br/>
        <input type="radio" class="form-check-input" name="bbloogroup" value="AB-" [(ngModel)]="bloodrequest.bloodgroup" (change)="radioChangeHandler($event)">AB- <br/>
        <label>Number of Units:</label><br/>
        <input type="text" class="form-control" name="units" value="bloodrequest.units" [(ngModel)]="bloodrequest.units"/><br/>
        <button type="button" class="btn btn-primary btn-lg" (click)="handleSubmit()">Request</button>   
    </form>
</div>
